[Unit]
Description=x11vnc (Remote access)
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash -c "/usr/bin/x11vnc -auth $(ls /var/run/sddm/xauth_* 2>/dev/null || ls /var/run/lightdm/root/:0 2>/dev/null || echo guess) -display :0 -rfbauth /etc/.vncpasswd -rfbport 5900 -forever -loop -noxdamage -repeat -shared"
Restart=on-failure

[Install]
WantedBy=graphical.target
